.flex-container {
    flex-wrap: wrap;
     justify-content: center;
     font-size: 20px;
     flex-direction: column;
     /* min-height: 100vh; */
    
 }
 
 h1{
     color:rgb(117, 135, 151);
     font-family: 'Poppins', sans-serif;
     text-align: center;
     padding-bottom: 20px;
     
 }
 
 
 
 h3{
     color:rgb(184, 178, 178);
     font-family: 'Poppins', sans-serif;
     text-align: center;
     padding-bottom: 15px;
 }
 
 /* navbar */
 nav {
     padding: 20px;
     /* border: 1px lightgrey; */
     /* border-left: none; */
     /* border-right: none; */
     /* font-family: 'Poppins', sans-serif;
     color:rgb(109, 137, 160); */
     /* media */
     /* @media (max-width:laptop){
         display: block;
         /* font: 10px; */
     /* }  */
 }
 
  
 
 
  nav ul div.items {
      padding: 0 30px;
      display: flex;
      justify-content: space-evenly;
      text-decoration:none;
      font-size: 20px;
      flex-wrap: wrap;
      align-items: center;
      list-style: none;
      font-family: 'Poppins', sans-serif;
     color:rgb(109, 137, 160);
  }
 
  nav ul div.items a {
      text-decoration:none;
      color:rgb(95, 128, 160);
    
     
  }
 
  nav ul .items a:hover{
      color:rgb(227, 74, 28);
  }
 
 
 /* image border around and w/h */
 
 img {
     border: 1px solid rgb(232, 235, 240);
     /* width: auto; */
     height:450px;
     max-width: 100%;
     
    
 }
 
 *{
     box-sizing: border-box;
 }
 
  .row {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     padding: 12px;
 } 
 
  .col-md {
   
    margin: 4px;
 } 
 /* clearfix floats */
 
 .row::after {
 content: "";
 clear: both;
 display: flex;
 }
 
 footer {
     text-align: center;
     padding: 3px;
     color:rgb(117, 135, 151);
     font-family: 'Poppins', sans-serif;
   }
 
 /* contact page */
 
     .wrapper h1 {
     width:100%;
     display:flex;
     /* max-width:680px; */
     /* margin: 100px; */
     /* padding: 12px; */
     /* text-align: center; */
     
     /* background-position: center; */
     font-family: 'Poppins', sans-serif;
     color:rgb(117, 135, 151);
     box-sizing: border-box;
 }
 
  .content {
      margin-right:40%;
  }
 
 
  div.wrapper h1{
      display:flex;
      text-align: center;
      padding: 0px;
  }
 
        /* div.content {
             /* letter-spacing: 1px; */
             /* text-align: left; */
             /* margin-top: auto; */
         /* } */ 
 
 
     input{
         height: 20px;
     } 
 
 
     input.form-control.submit{
         background: rgb(172, 199, 218);
         border-color:transparent;
         color:rgb(44, 48, 51);
         font-size: 20px;
         letter-spacing: 2px;
         height: 50px;
         margin-top: 20px;
     }
 
 
 
      textarea.form-control {
         padding: 20px;
         width:400px;
         font-size: 20px;
         font-family: 'Poppins', sans-serif;
         color:rgb(117, 135, 151);
     } 
    
        
 
         .form-control  {
             width: 400px;
             border:none;
             outline: none;
             border-bottom: 1px solid rgb(155, 164, 172);
             font-size: 20px;
             margin-bottom: 16px;
             font-family: 'Poppins', sans-serif;
             color:rgb(117, 135, 151);
         }
 
 
         /* about me  */
         /* .about me-container h1 {
            display: flex;
            justify-content: center;
            padding: 10px;
           
         } */
 
     
 
         /* contact page paragraph */
        /* div p {
             display:flex;
             font-size: 18px;
             font-family: 'Poppins', sans-serif;
             color: rgb(117, 135, 151);
             text-align: center;
             justify-content: center;
             margin-left: 0px;
             padding: 30px;
             width: 65%;
             /* overflow:auto; */
 
         /* } */ 
         
          /* border around the p div */ 
         /* .border-box {
            width: 200px;
        /* }  */ 
        
        
        /* .contact-container {
            display: flex;
        } */
 
 
        /* main container */
         main.contact-container {
            display: flex;
            align-content:center ;
            padding:80px;
            margin: 0px;
         } 
 
 
 
            img.self-img {
            /* height: 300px; */
            width:auto;
            border-radius: 4px;
             margin-right: 80px;
            margin-bottom: 20px;
             /* display:flex; */
             flex-wrap: wrap;   
           
        }
 
 
        /* footer */
 
       footer  {
         color: rgb(117, 135, 151);
         width: 100%;
       }
 
        
 .social-icons {
     padding: 8px;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-align-items: center;
         -ms-flex-align: center;
             align-items: center;
     -webkit-justify-content: space-between;
         -ms-flex-pack: justify;
         margin-left: 64%;
         margin-top: 25px;
         font-size: 20px;
            
   }
 
 
     /* social icons space */
   
   .fa, .fa-instagram, .fa-twitter, .fa-github .fa-linkedin {
     padding-right: 8px;
 }
  
   
    .social-icons .fa {
     font-size: 1.3rem;
     color: #6c848c;
     border: none;
     display:inline-block;
     justify-content: space-between ;
     justify-content: left;
 
   }
   
    .social-icons .fa:hover {
     color: #ec1153;
     transition: color 0.3s ease-in;
   } 
   
      ul.menu.simple {
         display:flex;
         justify-content: space-evenly; 
         margin: auto;
         padding-right: 3em;
     }
 
 
 
     /* option B conatct email */
 
     .Email.me h2 {
         color: #7495a0;
         font-family: 'Poppins', sans-serif;
         display:flex;
         margin: 0;
         padding: 0;
     }
 
 
 
     /* not using for now  */
     /* .footer-social-container {
         display: flex;
         padding:0px;
         margin: 0px;
       justify-content: center;
     /* } */ 
 
      
 
 
 
 
 
 /* responsive for multiple devices */
  @media screen and (max-width: 600px) {
     .column {
       width: 100%;
       
     }
    } 
 
    @media screen and (max-width: 1200px){
 
    }
 
 
    @media screen and (max-width: 425px){
 
    }
 
    /* notes break points to when the styling changes per device */
    /* desktop: 1200px */
    /* laptop: 1024 */
    /* tablet  768*/
    /* phone 480 */
 
     /* @media(hover: hover){ */
         
     /* } */ 
 
   /* @media (orientation: landscape) {
     body {
         
     }
 /* } */ 

 